<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="username">User name: </label>
      <input type="text" name="username" placeholder="User name...">
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="Password...">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
